{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <section class="section-content padding-y bg">
      <div class="container">

        <div class="row">
          <aside class="col-lg-9">
            <div class="card">
              <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Produto</th>
                    <th scope="col" width="120">Quantidade</th>
                    <th scope="col" width="120">Preço</th>
                    <th scope="col" class="text-right" width="200"></th>
                  </tr>
                </thead>
                <tbody>

                {% for item in car_items %}
                  <tr>
                    <td>
                      <figure class="itemside align-items-center">
                        <div class="aside">
                          <img src= "{{ item.produto.imagem.url }}" class="img-sm" />
                        </div>
                        <figcaption class="info">
                          <a href="#" class="title text-dark"
                            >{{ item.produto.nome }}</a
                          >
                          <p class="text-muted small">
                            {{ item.produto.descricao }}
                          </p>
                        </figcaption>
                      </figure>
                    </td>
                    <td>
                      <!-- col.// -->
                      <div class="col">
                        <div class="input-group input-spinner">
                          <div class="input-group-prepend">
                            <a href="{% url 'diminuirItemCarrinho' item.produto.id %}"
                              class="btn btn-light"
                              type="button"
                              id="button-plus"
                            >
                              <i class="fa fa-minus"></i>
                          </a>
                          </div>
                          <input type="text" class="form-control" value="{{ item.quantidade }}" />
                          <div class="input-group-append">
                            <a href="{% url 'adicionarCarrinho' item.produto.id %}"
                              class="btn btn-light"
                              type="button"
                              id="button-minus"
                            >
                            
                              <i class="fa fa-plus"></i>
                          </a>
                          </div>
                        </div>
                        <!-- input-group.// -->
                      </div>
                      <!-- col.// -->
                    </td>
                    <td>
                      <div class="price-wrap">
                        <var class="price">R$ {{ item.sub_total }}</var>
                        <small class="text-muted">R$ {{ item.produto.preco }} cada</small>
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                    <td class="text-right">
                      <a href="{% url 'removerItemCarrinho' item.produto.id %}" class="btn btn-danger"> Remove</a>
                    </td>
                  </tr>
                  {% endfor %}


                </tbody>
              </table>
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
          <aside class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <dl class="dlist-align">
                  <dt>Preço:</dt>
                  <dd class="text-right">R$ {{ total_geral }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Imposto:</dt>
                  <dd class="text-right">R$ {{ imposto }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Valor total:</dt>
                  <dd class="text-right text-dark b">
                    <strong>R$ {{ total_carrinho }}</strong>
                  </dd>
                </dl>
                <hr />
                <p class="text-center mb-3">
                  <img src="./images/misc/payments.png" height="26" />
                </p>
                <a href="./place-order.html" class="btn btn-primary btn-block">
                  Checkout
                </a>
                <a href="./store.html" class="btn btn-light btn-block"
                  >Continue Shopping</a
                >
              </div>
              <!-- card-body.// -->
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
        </div>
        <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
      </div>
      <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
  </body>
</html>
{% endblock %}
